<!DOCTYPE html>
<html>
<head>
  <title>Blingo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE]>
  <%= stylesheet_link_tag    "application-ie", :media => "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render :partial => "messages", :locals => { :messages => flash } %>

<%= yield %>

</body>
</html>
